body {
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  background: #fafafa;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Bebas Neue", sans-serif;
  color: #da0000;
}

p{
  font-size: 18px;
}

#sidebar{
  background-color: #fff;
  background-image: linear-gradient(#ffffff, #ffffff);
}

#sidebar ul li a{color: #40394a; font-size: 21px;}
#sidebar ul li a:hover {color: #e62c48; }
#sidebar ul li.active > a {
  background: transparent;
  color: #da0000; }
#sidebar ul li.active > a:hover {
  background: transparent;
  color: #810000; }

#sidebar .custom-menu .btn.btn-primary {
  background: #ffffff;
  border-color: #ffffff;
}

#sidebar .custom-menu .btn.btn-primary:hover, #sidebar .custom-menu .btn.btn-primary:focus {
  background: #da0000;
  border-color: #da0000; 
  color: #ffffff;
}



.btn.btn-primary {
    background: #da0000;
    border-color: #da0000;
    color:#ffffff; }
.btn:hover, .btn.btn-primary:focus {
    background: #da0000;
    border-color: #da0000; }

.btn-primary:hover{color:#ffffff}
.btn-primary:focus {color:#ffffff}

.bg-green{
  background-color: #da0000;
}

.news {
  width: 100%;
  height: 900px;
}

@media screen and (min-width: 769px) and (max-width: 1023px){
  .news {
    width: 100%;
  }
}

@media screen and (max-width: 767px){
  .news {
    width: 100%;
  }
}

/* CSS for Categories */
.categories {
  padding: 4% 0;
}

.text-left-categori{
text-align: left;
color: #2f3542;
}

.line{
height: 3px;
background-color: black;
position: relative;
margin: 0 auto;
bottom: 40px;
}

.box-3 {
  width: 28%;
  float: left;
  margin: 2%;
}

.container_categori{
width: 80%;
margin: 0 auto;
padding: 1%;
display: flex;
overflow-x: auto;
scroll-behavior: smooth;
overflow: hidden;
}

.box-3-categori {
flex: 0 0 auto;
margin-right: 10px;
}


.img-responsive-category{
position: relative;
width: 400px;
height: 300px;
overflow: hidden;
border-radius: 15px;
}

.float-container-categori {
position: relative;
}

.float-text-categori {
position: absolute;
background-color: #5d9e5f;
width: 100%;
height: 20%;
text-align: center;
border-radius: 15px; 
top: 239px;
vertical-align: middle;
}

.pre-btn,
.nxt-btn {
border: none;
width: 10vw;
height: 45%;
position: absolute;
top: 40%;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
cursor: pointer;
z-index: 8;
}

.pre-btn {
left: 0;
transform: rotate(180deg);
}

.nxt-btn {
right: 0;
}

.pre-btn img,
.nxt-btn img {
opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
opacity: 1;
}

.img-responsive {
  width: 100%;
}

.img-curve {
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .pre-btn,
  .nxt-btn {
    height: 50%;
    position: absolute;
    top: 45%;
  }

  .pre-btn img,
  .nxt-btn img {
    opacity: 1;
  }
}